* {
    margin: 0;
    padding: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

body {
    background: black;
    color: #fff;
    font-size: 16px;
}
.header {
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://miro.medium.com/v2/resize:fit:1400/1*5lyavS59mazOFnb55Z6znQ.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: max(1500px, 100vw);
    position: relative;
}
.headercontent .email{
    background: transparent;
    color: antiquewhite;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.logo {
    width: 150px;
    cursor: pointer;
}

.navbar {
    background: linear-gradient(black, transparent);
}

.navbar .signin {
    background: #e50914;
    color: #fff;
    border: 0;
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 30px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

nav img {
    position: relative;
    z-index: 10;

}
.btn{
    font-size: 30px;
    padding: 20px;
}
.dropdown {
    display: inline;
    background: transparent;
    color: aliceblue;
    border: 1.5px solid #fff;
    padding: 5px 30px;
    font-size: 20px;
    font-weight: lighter;
}

.signin {
    padding: 10px;
    padding-right: 15px;
}

.headercontent {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: black;
    text-align: center;
    padding: 23px;
    z-index: 10;
}
.bar .email{
    padding: 20px 50px;
    background: transparent;
    margin-left: 35%;
    color: aliceblue;
    border-radius: 5px;
}
.bar .btn {
    background: #e50914;
    color: #fff;
    border: 0;
    padding: 20px;
    font-size: 18px;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 30px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.navbar img {
    height: 80px;
    width: 170px;
    z-index: 10;
}

.headercontent :first-child {
    font-weight: 900;
    font-size: 65px;
    margin: 30px auto 10px auto;
}

.headercontent :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.headercontent :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
}

.headercontent .signup {
    display: flex;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 3px 8px;
}


button :hover {
    background-color: rgb(143, 27, 42);

}

.content {
    margin: 60px 100px;
    background: linear-gradient(90deg, black, purple);
    text-align: center;
    align-items: center;
    padding: 20px;
    height: 50%;
    width: 80%;
    border-radius: 10px;
}

.content h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.content h5 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 0.5rem;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
}

.wrapper section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
}

.wrapper section .item {
    padding: 0 2px;
    transition: 250ms all;
}

.wrapper section .item:hover {
    margin: 0 40px;
    transform: scale(1.2);
}

.wrapper section a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: black;
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

.wrapper section a:nth-of-type(1) {
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.wrapper section a:nth-of-type(2) {
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

@media only screen and (max-width: 600px) {
    a.arrow__btn {
        display: none;
    }
}

.india {
    padding: 10px;
    background: transparent;
    border: 0.5px solid rgb(214, 209, 209);
    color: rgb(214, 209, 209);
    border-radius: 5px;
    margin-right: 20px;
}

.movies {
    padding: 10px;
    background: transparent;
    border: 0.5px solid rgb(214, 209, 209);
    color: rgb(214, 209, 209);
    border-radius: 5px;
}

.abc {
    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: 100px;
    font-weight: 400;
}

.cba {
    margin-top: 20px
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px;
    font-size: 20px;
    font-weight: 800;
    text-shadow: black;
}

.box1 {
    
    height: 150px;
    width: 100px;
    flex: 1 0 200px;
    background: linear-gradient(-90deg, #43172b, #230a25);
    transition: transform 0.4s;
    text-align: center;
    border-radius: 20px;
    padding: 40px;
}

.box2 {
    height: 150px;
    width: 100px;
    flex: 1 0 200px;
    background: linear-gradient(-90deg, #43172b, #230a25);
    transition: transform 0.4s;
    text-align: center;
    border-radius: 20px;
    padding: 40px;
}

.box3 {
    height: 150px;
    width: 100px;
    flex: 1 0 200px;
    background: linear-gradient(-90deg, #43172b, #230a25);
    transition: transform 0.4s;
    text-align: center;
    border-radius: 20px;
    padding: 40px;
}

.box4 {
    height: 150px;
    width: 100px;
    flex: 1 0 200px;
    background: linear-gradient(-90deg, #43172b, #230a25);
    transition: transform 0.4s;
    text-align: center;
    border-radius: 20px;
    padding: 40px;
}

.box1:hover {
    transform: scale(1.05);
}

.box2:hover {
    transform: scale(1.05);
}

.box3:hover {
    transform: scale(1.05);
}

.box4:hover {
    transform: scale(1.05);
}

.grid:hover> :not(:hover) {
    opacity: .6;
}

.faq h2 {
    text-align: center;
    padding: 34px;
}

.faq {
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.separation {
    background: linear-gradient(90deg, black, red);
    margin-top: 0;
    height: 8px;
    width: auto;
}

.faqbox {
    transition: all 0.4s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 23px;
    padding: 34px;
    cursor: pointer;
    width: 70vw;
    max-width: 90vw;
    margin: 5px auto;
}

.faqbox:hover {
    background-color: #414141;
}

.questions {
    margin: 34px 0;
}

footer {
    padding: 30px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
    padding-top: 30px;
}

.footeritems {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 20px;
    text-decoration: none;
    color: #fff;
}

footer .signup {
    align-items: center;
}

footer .btn {
    background: #e50914;
    color: #fff;
    border: 0;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 30px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

footer .email {
    display: inline;
    background: transparent;
    border: 1.5px solid #fff;
    padding: 5px 30px;
    margin-left: 30%;
    font-size: 20px;
    font-weight: lighter;
    color: #fff;
    border-radius: 3px;
}